@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bungee+Tint&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-size: 200px; 
  justify-content: center;
  font-style: normal;
}

.page_title {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-size: 100px; 
  justify-content: left; 
  margin-top: -400px;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-family: "Archivo", sans-serif;
  color: #61dafb;
  border:none; 
  font-size: 100px; 
  background-color: transparent;
  box-shadow: none;
}

.spage-bg {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link:hover{
  outline-style: double;
}

.drop_box{
  width: '630px';
  height: '500px';
  background-color: #444b58; 

}

 #dropArea {
            position: absolute;
            top: 30%;
            left: 25%;
            width: 50%;
            height: 50%;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: #61dafb;
            font-size: 60px;
            text-align: center;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
